<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandWithTab</key>
	<false/>
	<key>syntax</key>
	<array>
		<dict>
			<key>id</key>
			<string>common</string>
			<key>title</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>id</key>
			<string>html</string>
			<key>title</key>
			<string>HTML</string>
		</dict>
		<dict>
			<key>id</key>
			<string>css</string>
			<key>title</key>
			<string>CSS</string>
		</dict>
		<dict>
			<key>id</key>
			<string>xml</string>
			<key>title</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>id</key>
			<string>xsl</string>
			<key>title</key>
			<string>XSL</string>
		</dict>
		<dict>
			<key>id</key>
			<string>haml</string>
			<key>title</key>
			<string>HAML</string>
		</dict>
	</array>
	<key>output</key>
	<dict>
		<key>common</key>
		<dict>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>decide</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<key>html</key>
		<dict>
			<key>tagCase</key>
			<string>lower</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>decide</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<key>css</key>
		<dict>
			<key>tagCase</key>
			<string>upper</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>decide</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xhtml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<key>xml</key>
		<dict>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>yes</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xml</string>
			<key>filters</key>
			<string></string>
		</dict>
		<key>xsl</key>
		<dict>
			<key>tagCase</key>
			<string>asis</string>
			<key>attributeCase</key>
			<string>asis</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>yes</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>xml</string>
			<key>filters</key>
			<string>html, xsl</string>
		</dict>
		<key>haml</key>
		<dict>
			<key>tagCase</key>
			<string>lower</string>
			<key>attributeCase</key>
			<string>lower</string>
			<key>attributeQuote</key>
			<string>double</string>
			<key>tagNewline</key>
			<string>yes</string>
			<key>indent</key>
			<true/>
			<key>inlineBreaks</key>
			<integer>3</integer>
			<key>selfClosing</key>
			<string>html</string>
			<key>filters</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
